.navbar-brand {
    color:white;
    font-size: 30px;
    font-weight: bolder;
}

.navbar-nav .nav-link{
    color: black;
}



.carousel-image {
    width: 50%; /* Change this value to adjust the width of the image */
    margin: 0 auto;
}




