.navbar-brand {
    color:white;
    font-size: 30px;
    font-weight: bolder;
}

.navbar-nav  .over{
    color: white;
}

.navbar-nav .under{
    color: black;
}


.text-center .main-image {
    width: 500px;
    height: auto;
}




